<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Создайте нового пользователя</p>
    <form th:action="@{/create}" method="post" th:object="${user}">
        <label for="username">Username:
            <input type="text" name="username" th:value="${username}" id="username">
        </label><br>
        <label for="password">Password:
            <input type="password" name="password" id="password">
        </label><br>
        <label for="firstname">Firstname:
            <input type="text" name="firstName" th:value="${firstname}" id="firstname">
        </label><br>
        <label for="lastname">Lastname:
            <input type="text" name="lastName" th:value="${lastname}" id="lastname">
        </label><br>
        <label for="age">Age:
            <input type="number" name="age" th:value="${age}" id="age">
        </label><br>
        <label for="role">
            <select id="role" name="role">
                <option th:each="role : ${roles}" th:text="${role}" th:value="${role}">Role
                </option>
            </select>
        </label>

        <button>Создать</button><br>
    </form>

    <a href="/users">На Главную</a>
</body>
</html>